
.idea/Blackjack.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Frontend/Blackjack/.idea/misc.xml
Frontend/Blackjack/.idea/misc.xml
Frontend/Blackjack/.idea/modules.xml
Frontend/Blackjack/gradle/wrapper/gradle-wrapper.properties
