Backend/.idea/*
.idea/*
.idea/Blackjack.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Frontend/Blackjack/.idea/misc.xml
Frontend/Blackjack/.idea/misc.xml
Frontend/Blackjack/.idea/modules.xml
Frontend/Blackjack/gradle/wrapper/gradle-wrapper.properties

Backend/build/classes/main/Repository/HighscoreRepository.class

build
.gradle
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
out
*.iml

*.versionsBackup
*.releaseBackup
release.properties

.video
.attach_pid*

Backend/.idea/workspace.xml

Backend/.idea/workspace.xml

Backend/build/classes/main/Entities/Highscore.class

Backend/build/classes/main/RestAPI/HighscoreKt.class

*.class

Backend/build/classes/main/RestAPI/HighscoreKt$main$1$1.class

Backend/build/classes/main/RestAPI/HighscoreKt$main$1$2.class

Backend/build/classes/main/RestAPI/HighscoreKt$main$1$3.class

Frontend/Blackjack/build.gradle

Frontend/Blackjack/.idea/misc.xml

Backend/.idea/modules/Backend_main.iml

Backend/.idea/modules/Backend_main.iml

Backend/.idea/modules/Backend_test.iml
.idea/vcs.xml

Backend/.idea/compiler.xml
Backend/.idea/modules.xml

